@font-face {
    font-family: 'Go Mono';
    src: url('../font/Go-Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../font/Go-Mono-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../font/Go-Mono-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../font/Go-Mono-Bold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --mono-font-stack: Go Mono;
    --font-stack: Go Mono;

    /*
    --background-color: #222225;
    --font-color: #e8e9ed;
    --global-font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
     */

    --display-h1-decoration: none;
}

a {
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}

.footer {
    margin-top: 75px;
    padding-bottom: 30px;
    border-top: 0;
    text-align: center;
    color: var(--secondary-color);
}

.footer a {
    font-size: 30px;
}