<link rel="stylesheet" href="{{ "css/terminal-0.7.2.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/overwrite.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/normalize.css" | absURL }}">

<link rel="stylesheet" href="{{ "css/fontawesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/brands.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/solid.min.css" | absURL }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EG92897MK2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EG92897MK2');
</script>
